{# ############## Shared Variables in all views ################ #}
<!DOCTYPE html>
<html lang="{{ user.language.code }}" dir="{{ user.language.dir }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ theme.settings.set('placeholder', 'images/placeholder.png') }}

    {% block head_scripts %}{% endblock %}

    {% hook 'head:start' %}
    {% hook head %}
    {% block styles %}{% endblock %}

    <link rel="stylesheet" href="{{ 'app.css' | asset }}">

    {% if theme.font and theme.font.path %}
        <link rel="stylesheet" href="{{ theme.font.path|cdn }}">
    {% endif %}

    <link rel="stylesheet" href="{{ 'fonts/sallaicons.css'|cdn }}"/>

    <style>
        :root {
            --font-main: {% if theme.font and theme.font.name %}'{{ theme.font.name }}'{% else %}inherit{% endif %};
            --color-primary: {{ theme.color.primary }};
            --color-primary-dark: {{ theme.color.darker(0.15) }};
            --color-primary-light: {{ theme.color.lighter(0.15) }};
            --color-primary-reverse: {{ theme.color.reverse_text }};
        }
    </style>

    {% hook 'head:end' %}
</head>
<body id="app" class="siah-theme overflow-x-hidden {% hook 'body:classes' %}">
<noscript>
    To get full functionality of this site you need to enable JavaScript. Here is how
    <a href="https://www.enable-javascript.com/" rel="noreferrer" target="_blank">
        To enable JavaScript on webpage
    </a>.
</noscript>

<div class="app-inner flex flex-col min-h-full">
    {% hook 'body:start' %}

    {% component 'header.header' %}

    <main id="main-content" role="main" class="siah-main">
        {% block content %}{% endblock %}
    </main>

    {% component 'footer.footer' %}
</div>

{% hook 'body:end' %}

<script defer crossorigin="anonymous" src="{{ 'app.js' | asset }}"></script>

{# Twilight Components #}
<salla-offer-modal></salla-offer-modal>
<salla-search></salla-search>

{% if user.type == 'guest' %}
    <salla-login-modal></salla-login-modal>
{% endif %}

{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}

{% block scripts %}{% endblock %}
</body>
</html>